*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Spartan', sans-serif; */
    font-family: 'Cinzel Decorative';
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
    font-weight: bold;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;

}

button.normal{
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
    /* background: #e3e6f3; */
}

.logo{
    width: 100px;
    height: 40px;
    border: 0;
}

/* HeaderStart */

#header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background:#088178; 
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

/* HomePage */


#hero{
    /* background: url("img/") ; */
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #e3e6f3;
     background-size: cover;    
    background-position: top 25% right 15%; 
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}    


#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: #088178;
}

#hero button{
  background-image: url(img/button2.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 5px 45px 20px 45px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
.feature{
    width: 100%;
    padding: 40px 0;
}
/* #feature{
    width: 100%;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.title-text{
    text-align: center;
    
    
   
}
#hero .title-text p{
    margin: auto;
    font-size: 30px;
    color: #f70000;
    font-weight: bold;
    font-style: oblique;
    position: relative;
    z-index: 1;
    display: inline-block;

}
/* .title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgba(0, 0, 0, 0.697), rgba(229, 188, 6, 0.429));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(9deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;

} */
.title-text h1{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
    color: black;
    font-weight: bold;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
 } 

 #feature { 
    width: 100%; 
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}
 #feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 15px 34px rgba(0, 0, 0, 0.09);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.2s ease;
    background-color: #cad3dc;
    
    
}

#feature .fe-box:hover{
    box-shadow: 7px 7px 54px rgba(223, 157, 4, 0.4);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #83f69a;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #88daef;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #73baf1;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #b6c8e1;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #de93d6;
}
#product1{
    text-align: center;
    margin-top: -50px !important;
    
}
#product1 h2{
    color: #f7b900;
    font-size: 70px;
    transition: 0.5s ease;
    font-weight: bold;
}
#product1 h2:hover{
    text-shadow: 5px 5px 8px #121210 ;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap:wrap ;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0 ;
    transition: 0.2s ease;
    position:relative ;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    width: 25%;
}

#product1 .pro img{
    width: 65%;
    border-radius: 20px;
    transition: 0.2s ease;
   
}
/* #product1 .pro img:hover{
    width: 55%;  
} */
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}
#product1 .pro .des .star i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size:15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #e8f6ea;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 600;
    color: #088178;
    position: absolute;
    bottom: 20px;
    right:10px;
}

#product1 .pro .cart:hover{
    color: red;
    transition: 0.02s ease;
}
#banner{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/honey-1810147.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h2{
    color: black;
    font-size: 16px;
}

#banner h2{
    color:black;
    
    font-size: 55px;
    padding: 10px 0;
}
#banner h2 span{
color: red;
}

#banner button:hover{
    background: #f7b900;
    color: black;
}



/* service */

#service{
    width: 100%;
    padding: 70px 0;
    /* background: #e3e6f3; */
    background: #dcdcdc;
}
#service .title-text p{
    font-size: 14px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #FFF;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius:10px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.811), rgba(218, 204, 12, 0.482));
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 0.7;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr{
    background: #FFF;
    height: 3px;
    border: 0;
    margin: 15px 15px;
    width: 100%;
}
.service-desc p{
    font-size: 15px;
    color: #fff;
}
.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 0.8;
}

@media screen and (max-width: 770px) {
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 10px;

    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc {
        bottom: 25% !important;
       
    }
    #banner h2 {
        
        font-size: 20px;
        
    }
}



/* Testimonial */

#testimonial{
    width: 100%;
    padding:70px 0;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 10px 2px #e6b000;
    cursor: pointer; 
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;

}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #63b72bca;
    font-size: 25px;

}
.user-info small{
    color: #0a1498;
}
.testimonial-col:hover{
    transform: translateY(-7px);
    box-shadow: 0 6px 10px 2px #171202;
}

@media screen and (max-width: 770px){
    .testimonial-col{
        flex-basis: 100%;
    }
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/honey-1810147.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    margin-bottom: -40px;

}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #38f29e; 
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
   text-align: center;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #fff;
    color: #010000;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter button:hover{
    background: #f7b900;
    color: #fff;
}


/* Footer section */
/* 
.appstore{
    width: 150px;
    height: 60px;
    
}
.payment{
    width: 350px;
    height: auto;
}



footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 25px;
    padding-bottom: 20px;
    
}
footer p {
    font-size: 16px;
    margin: 0 0 8px 0;

}
footer a {
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}

footer .follow{
    margin-top: 20px;

}
/* footer .follow i{
    color: #465b52;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #465b52 ;
    border-radius: 8px;
}
footer .follow i:hover{
    color: #e6b000;
    background: red;
} 


footer  .follow {
    text-align: center;
 }

 footer  .follow i{
    height: 40px;
    width: 40px;
    font-size: 15px;
    line-height: 40px;
    border: 1px solid #b89822;
    border-radius: 30px;
    margin: 40px 5px 0;
    color: #000000;
    cursor: pointer;
    transition: .5s
 }
 footer  .follow i:hover{
    background: #000000;
    color: #e6b000;
    transform: translateY(-7px);
 }

 footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
 }
 footer .install img{
    margin: 10px 0 15px 0;
 }
 footer a:hover{
    color: #088178;
 }
 footer .copyright{
    font-size: 10px;
    text-align: center;
    width: 100%;
 } */ 

 #footer{
    padding: 100px 0 20px;
    background: #dcdcdcbe;
    position: relative;
}



.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
 }
.footer-left, .footer-right{
    margin-top: 80px;
        /* flex-basis: 55%; */
        padding: 10px;
        margin-bottom: 20px;
 }

 .footer-right{
    text-align: right;
 }
 .footer-row h1{
    margin: 1px  ;
 }
 .footer-row p{
    line-height: 35px;
 }
 .footer-left .fa , .footer-right .fa{
    font-size: 20px;
    color: #b89822;
    margin: 10px;
 }

 .footer-img{
    max-width: 370px;
    opacity: .1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
 }
 .social-links{
    /* flex-basis: 25%; */
        padding: 10px;
        margin-bottom: 20px;
 }
 .social-links{
    text-align: center;
 }
 .social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #b89822;
    border-radius: 30px;
    margin: 40px 5px 0;
    color: #000000;
    cursor: pointer;
    transition: .5s
 }
 .social-links .fa:hover{
    background: #000000;
    color: #e6b000;
    transform: translateY(-7px);

 }

 @media screen and (max-width: 770px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }

    .footer-row{
        display: flex;
    }
 }















 /* Shop Page */

 #page-header{
    background-image: url("img/honey-1810147.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
 }

 #page-header h2, #page-header p{
    color: #fff;
    font-style: oblique;
 }

 #pagination{
    text-align: right;
 }

 #pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 60px;
    transition: 0.2s ease;
 }
 #pagination a:hover{
    color:  #000;
    background-color:#e3e6f3 ;
 }

/* Single Product */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 33%;
    margin-right: 50px;
    /* border: 1px dashed black; */
    padding: 8px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    padding: 1px;
    margin: 3px;
    /* border: 0.5px solid black;
    border-radius: 8px; */
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top:30px ;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}


/* Blog Page */

#page-header.blog-header{
     background-image: url("img/3.1.jpg");
     
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
    
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}

#blog .blog-box h1{
position: absolute;
top: -40px;
left: 0;
font-size: 70px;
font-weight: 700;
color: #c9cbce;
z-index: -9;
}

/* About Page */

 #page-header.about-header{
    background-image: url("img/A\ beekeeper\ In\ Holland.jpg");
}
#about-head{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
    border-radius: 10px;

}


#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;

}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact Page  */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span, #form-details form span {
    font-size: 12px;
}

#contact-details .details h2, #form-details form h2{
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 15px;
   
    padding-bottom: 15px ;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
 font-size: 14px;
 padding-right: 22px;
 
}
#contact-details .details li p{
margin: 0;
font-size: 14px;

}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input, #form-details textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    margin-top: 150px;
}




#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;

}
#form-details .people div p{
    margin: o;
    font-size: 13px ;
    line-height: 25px ;

}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Cart Page */
#cart {
    overflow-x:auto ;
}
#cart table{
    width: 100%;
    border-collapse:collapse ;
    table-layout: fixed;
    white-space:nowrap;
    
}
#cart table img{
    width: 50px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 0;
}
#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody  td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3, #subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button , #subtotal button{
    background-color: #088178;
    color: #FFF;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px ;
    font-size: 13px;
}








 /* Start Media Query */
 @media (max-width:799px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 24px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero{
        background-size: 25%;
        height: 70vh;
        padding: 0 80px;
        background-position: top 10% right 10%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px ;
    }
    #product1 .pro-container{
        justify-content: center;

    }
    #product1 .pro{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }
    #newsletter .form{
        width: 70%;
    }

    /* Single Product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;
    }
    #prodetails .single-pro-details{
        width: 100%;
        padding-top: 10px;
        text-align: justify;
    }

    /* Contact Page */
    
    #form-details{
        padding: 40px;
    }
    #form-details form{
        width: 50%;
    }
}




@media (max-width:477px) {
    .section-p1{
        padding: 18px;
    }
    
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 28px;
        line-height: 45px;
    }
    h2{
        color: #176be1;
        font-size: 26px;
        line-height: 30px;

    }
    
    h4{
        font-size: 15px;
        
    }
    #hero h4 {
        padding-bottom: 5px;
    }
    
    p {
        font-size: 12px;
        /* color: #ebecec; */
        margin: 8px 0 20px 0;
    }
    .title-text h1 {
        font-size: 30px;
        /* line-height: ; */
       
    }
    #hero{
        background-size: 28%;
        padding: 0 15px;
        background-position: top 10% right 8%;
        height: 27vh;
        /* width: 100%; */
    }
    #feature{
    justify-content: space-evenly;
    }

    #feature .fe-box{
        width: 120px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }

    #banner{
        height: 30vh;
    }
    #newsletter .form {
        width: 85%;
    }

    /* Single Product */

    #prodetails {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;
    }
    #prodetails .single-pro-details{
        width: 100%;
        padding-top: 10px;
        text-align: justify;
    }

    /* BLog Page */

    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }


    /* About Page  */
    #about-head{
        flex-direction: column;

    }
    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div{
        padding-left: 0px;
        text-align: justify;
    }

    #about-app .video{
        width: 100%;
    }

    /* contact page  */

    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }

    /* Cart Page  */

    #cart-add{
        display: flex;
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }

    #subtotal{
        width: 100%;
        padding: 20px;
    }
}


.whatsapp-float {
    position: fixed;
    bottom: 20px; /* Adjust this value to control the vertical position from the bottom */
    left: 20px; /* Adjust this value to control the horizontal position from the left */
    z-index: 9999; /* Adjust the z-index to ensure the div is above other elements if necessary */
    background-color: #ffffff; /* Set the background color if needed */
    padding: 10px; /* Set padding for the content inside the div */
  }
  
  .whatsapp-float p {
    margin: 0; /* Remove default margin for the paragraph */
  }

 
